.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "area1 area23 area23"
    "area2 area23 area23"
    "area2 area5 area5";
}

.area1 { grid-area: area1; }

.area23 { grid-area: area23; }

.area2 { grid-area: area2; }

.area5 { grid-area: area5; }
